* {
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.crear1 {
    height: 0px;
    width: 0px;
    opacity: 0;
    transition:  opacity 0.1s, height 0.1s, width 0.1s;

}
.crear2 {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition:  opacity 0.1s, height 0.2s, width 0.2s;

}

.listar1 {
    height: 0px;
    width: 0px;
    opacity: 0;
    transition:  opacity 0.1s, height 0.1s, width 0.1s;

}
.listar2 {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition:  opacity 0.1s, height 0.2s, width 0.2s;

}

